@charset "utf-8";

/* Базовая настройка START */
body, html{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    color: #424243;
    margin: 0;
    padding: 0;
    line-height: 32px;
    cursor: default;
    text-align: left;
    min-width: 100%;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    outline:none;
    font-family:inherit;
    color: #1B191C;
    text-decoration:none;
    background-color: initial;
}

*{
    outline:none !important;
    box-sizing:border-box;
}

.btn {
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    font-size:16px;
    font-weight: 700;
    cursor: pointer;
    padding: 13px 43px;
    line-height: 120%;
    text-align:center;
    display:inline-block;
    text-decoration: none !important;
    vertical-align: middle;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #FF3300;
}

.container {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:0 15px;
    box-sizing:border-box;
    position: relative;
}

button,
input,
select,
textarea{
    outline:none;
    font-family:inherit;
}

form{
    margin:0;
}
/* Базовая настройка END */

/* Главная страница START */
.main {
    background-color: #efefef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.main__inner {
    width: 100%;
}

.main__content {}

.main__content--search {
    width: 100%;
    max-width: 889px;
    margin: 0 auto;
}

.main__title {
    font-size: 48px;
    font-weight: 400;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1px;
    text-align: left;
    color: #1B191C;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
}

.main__form {
}

.main__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main__label {
    width: 100%;
    position: relative;
    z-index: 1;
}

.main__form--error .main__label::after {
    content: '';
    width: 56px;
    height: 56px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/icons/warning.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: #fff;
    position: absolute;
    top:50%;
    left: auto;
    right: 1px;
    bottom: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.main__input {
    color: #1B191C;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.4px;
    padding: 31px 16px;
    width: 100%;
    border: 0.5px solid transparent;
    transition: .2s all;
    background-color: #FFFFFF;
}

.main__input input::-webkit-input-placeholder {color:#A4A3A4;}
.main__input input::-moz-placeholder          {color:#A4A3A4;}
.main__input input:-moz-placeholder           {color:#A4A3A4;}
.main__input input:-ms-input-placeholder      {color:#A4A3A4;}

.main__form--error .main__input {
    border: 0.5px solid #C6A827;
}

.main__btn {
    width: 96px;
    min-width: 96px;
    height: 96px;
    cursor: pointer;
    background-color: #F8D231;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    transition: .3s all;
}

.main__btn:hover {
    background-color: #ff2239;
}

.main__btn svg path {
    fill: #1B191C;
    transition: .3s all;
}

.main__btn:hover svg path {
    fill: #fff;
}

.main__form-error {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: #C6A827;
    margin: 8px 0px 0px 0px;
    display: none;
}

.main__form--error .main__form-error {
    display: block;
}
/* Главная страница END */

/* Страница с плеером START */
.player {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

.player__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1B191C;
    margin: 0px 0px 20px 0px;
    max-width: 96%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player__title-link {
    color: inherit;
    transition: .2s color;
}

.player__title-link:hover {
    color: #ff2239;
}

.player__body {
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 198px;
    padding: 20px;
    background-color: #CFD3D6;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.player__body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

@keyframes animation {
    0% {left: 0%;}
    100% {left: 100%;}
}

@-webkit-keyframes animation {
    0% {left: 0%;}
    100% {left: 100%;}
}

.player--in-progress .player__body:before {
    display: block;
    animation: animation 1s ease infinite;
    -webkit-animation: animation 1s ease infinite;
}

.btn-anim:hover {
}

.player__btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0px 0px 50px 0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: initial;
}

.player__btn--play {
    background-image: url(images/icons/play.svg);
}

.player__btn--pause {
    background-image: url(images/icons/pause.svg);
}


.player__audio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
}

.player__progress {
    width: 100%;
    height: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin: 0px 0px 50px 0px;
}

.player__progress:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #ADACAD;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.player__progress-cursor {
    width: 30%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: translateY(-50%);
}

.player__progress-cursor:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.player__progress-pointer {
    width: 16px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 98%;
    bottom: 0px;
    z-index: 3;
    border-radius: 6px;
}

.player__back {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1B191C;
}

.player__back-txt {}

.player__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.3px;
    color: #1B191C;
}

.player__vol {
    width: 258px;
    height: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: 15px;
}

.player__vol:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.player__vol-cursor {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.player__vol-cursor:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.player__vol-pointer {
    width: 16px;
    height: 12px;
    background-color: #000;
    position: absolute;
    top: 2px;
    left: 94%;
    right: 0;
    bottom: 2px;
    z-index: 3;
}

.player__back {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1B191C;
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    transition: .2s all;
}

.player__back:hover {
    color: #ff2239;
}

.player__back svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.player__back svg path {
    stroke: #1B191C;
    transition: .2s all;
}

.player__back:hover svg path {
    stroke: #ff2239;
}
/* Страница с плеером END */